/** Globol Setting **/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  display: grid;
  grid-template-rows: 1fr 1fr 0.2fr;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  margin-top: 50px;
  margin-right: 80px;
  
}
.logo {
  margin: 0 40px 0 60px;
}
ul {
  border-bottom: 1.5px solid black;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  
}
ul li {
  list-style: none;
  margin-top: 12px;
  margin: 12px 20px 0 20px;
  
}
ul li a {
  color: black;
  text-decoration: none;
  font-size: 17px;  
  padding: 5px;
  
}
ul li a:hover {
 border-radius: 50%;
 background-color: #767676;
 color: white;
}
main {
  margin-right: 13rem;
  margin-top: -2rem; 
}

.moutian {
  height: 200px;
  width: 100%;
  margin-bottom: -8px;
}
footer {
  background-color: #767676;
  height: 8rem;  
}
footer section {
  display: flex;
  margin-top: 50px;
}
.copy-richt {
  width: 50%;
}
.copy-richt i {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 130px;
}
.copy-richt a {
  color: black;
  font-size: 14px;
  margin-left: 15px;
}
.social-links {
  width: 50%;
  height: 45px;
  text-align: center;
}
.social-links a {
  font-size: 30px;
  margin-top: 5px;
  color: black;
  margin-left: 10px;
}
.social-links a:hover {
  color:lightgray;
}
.btn {
  display: none;
}
/** Home page **/
.massage {

  text-align: center;
  margin-top: 30px;
  margin-left: 60px;
  width: 50rem;
}
.main-h1 {
  font-size: 50px;
  margin-bottom: 0;
  font-family: 'Goblin One', cursive;
}
.imgs {
  position: absolute;
  width: 30%;
  left: 55rem;
  top: 8rem;
}
.imgs img {
  position: absolute; 
  transition: left 3s, top 1s;
}
.imgs:hover .birds {
  left: 1%;
  top: 1%;
}
.imgs:hover .cloud {
  left: 0.3%;
}

.birds {
  width: 70%;
  top: 3rem;
  left: 9rem;
}
.sun {
  width: 80%;
}
.cloud {
  width: 30%;
  top: 14rem;
  left: 9rem;
}

/** About Page **/
.about-nav {
 border-radius: 50%;
 background-color: #767676;
 color: white;
}
.about-main {
  height: 200px;
  width: 100%;
  margin-bottom: -8px;
  display: flex;
}
.about-title {
  text-align: center;
  padding: 0 5rem 0 5rem;
  width: 50%;
  height: 22rem;
  margin-left: 10%;
}
.tenzinphoto {
  border-radius: 5%;
  height: 350px;
}
/** Contact page **/
.Contact-nav {
  border-radius: 50%;
  background-color: #767676;
  color: white;
}
.contact-main {
  margin-left: 15%;
  display: flex;
}
.contact-input h1 {
  text-align: center;
}
.contact-input {
  margin-left: 10%;
}
.send {
  margin-top: 10px;
  margin-left: 30%;
  border-style: none;
  width: 130px;
  height: 30px;
  font-size: 18px;
  background: #767676;
  color: white;
  border-radius: 40px;
  cursor: pointer;
}
.send:hover {
  background-color: black;
}
.contact-input #name {
  width: 20rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}
.contact-input #email {
  width: 20rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}
.contact-input textarea {
  width: 20rem;
  height: 8rem;
}
.contact-information {
  display: flex;
  margin-top: 30px;
  margin-left: 20%;
  border-left: 1px solid black;
}
.contact-links {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin-top: 10px;
}
.contact-links i {
  margin-top: 38px;
  margin-left: 5rem;
}
.my-adresse {
  color: black;
  font-size: 18px;
  font-weight: bold;
  height: 80%;
  margin-left: 5rem;
  margin-top: 2rem;
}
.my-adresse a {
  color: black;
  text-decoration: none;
}
/** Blog page **/

.blog-nav {
  border-radius: 50%;
  background-color: #767676;
  color: white;
}
main {
  height: 100%;
  margin: 0;
  text-align: center;
}
.myblog {
  height: 100%;
  width: 80%;
  margin: auto;
}
.art-blog {
  width: 90%;
  height: 60%;
  display: flex;
  margin: 60px;
}
.blogpic {
  background-color: darksalmon;
  height: 65%;
  width: 40%;
  margin: auto;
}
.bloginfo {
  width: 50%;
  margin: auto;
}
/** Work page**/
.work-nav {
  border-radius: 50%;
  background-color: #767676;
  color: white;
}
main .projects {
  height: 100%;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}
main .projects .project1, .project2, .project3 {
  height: 80%;
  width: 26%;
  margin: 40px;
  border: 1px solid black;
  box-shadow: 3px 3px 5px #aaaaaa;
}
main .projects .project1:hover{
  box-shadow: 10px 10px 8px #aaaaaa;
}
.project1 {
  cursor: pointer;
  background-image: url(/img/mywebsite.jpg);
  background-size: 24rem;
}
.project2:hover {
  box-shadow: 10px 10px 8px #aaaaaa;
  cursor: pointer;
  background-color: darkgoldenrod;
}
.project3:hover {
  box-shadow: 10px 10px 8px #aaaaaa;
  cursor: pointer;
  background-color: darkslategrey;
}

/**for ipad and tablet**/
@media screen and (max-width: 1024px) {
  html, body {
     height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    flex: 0.5 0 auto;
  }
  ul {
    margin-left: -2rem;
  }
 main {
   flex: 1;
   margin: auto;
 }
 .massage {
   margin: auto;
 }
  footer {
    flex-shrink: 0;
  }
   .imgs {
     position: static;
     margin: auto;
   }
   .imgs img {
     position: static; 
   }
   .sun {
    width: 250px;
   }
   .birds {
     width: 100%;
     margin-top: -8rem;
     margin-left: 5rem;
   }
   .cloud {
     display: none;
   }
   .moutian {
     margin-bottom: -1rem;
   }
   main .projects .project1, .project2, .project3 {
     height: 13rem;
     width: 23rem;
   }
 .contact-main {
   width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
 }
 form {
  text-align: center;
 }
 .contact-input #name {
   width: 25rem;
   height: 2rem;
 }
 .contact-input #email {
   width: 25rem;
   height: 2rem;
 }
 .contact-input textarea {
   width: 25rem;
   height: 10rem;
 }
 .contact-information {
   margin-left: 5rem;
   border: none;
   margin-top: 0;
   display: none;
 }
 .send {
  margin: auto;
 }
 .about-main {
   width: auto;
  margin: auto;
 }
 .about-title {
   margin-left: 0;
 }
 .copy-richt i {
   margin-left: 50px;
 }
 }
 /**for mobile**/
 @media screen and (max-width: 600px) {
   html {
     height: 100%;
     margin: 0;
   }
   body {
     height: 100%;
     margin: 0;
   }main {
     margin: 0;
     padding: 0;
   }
   .massage {
    width: 350px;
    margin: auto;
   }
   
   nav {
     margin: 0;
   }
   .logo {
     height: 65px;
     margin: 20px;
   }
   .line {
     width: 30px;
     height: 3px;
     background-color: #2C6C7E;
     margin: 5px;
   }
  
   .hamburger {
     position: absolute;
     cursor: pointer;
     right: 5%;
     top: 4%;
     z-index: 2;
   }
   .nav-menu{
    display: flex;
    position: fixed;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #767676;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: center;
    clip-path: circle(100px at 90% -15%);
    -webkit-clip-path: circle(100px at 90% -15%);
    transition: all 1s ease-out;
   }
   .nav-menu.open {
    clip-path: circle(1050px at 90% -15%);
    -webkit-clip-path: circle(1050px at 90% -15%);
   }
   .nav-menu li {
     text-align: center;
     margin: 25px;
   }
  
   .nav-menu li a {
     color: white;
     font-size: 25px;
   }
   .imgs {
     display: none;
   }
   header {
     height: 0;
   }
   .about-main {
     margin: 5px 25px 20px 25px;
   }
   .about-title {
     font-size: 12px;
     padding: 0;
     padding-right: 15px;
   }
   .about-title p{
     height: 10rem;
     font-size: 12px;
   }
   .tenzinphoto {
     margin-top: 4rem;
     height: 250px;
   }
  .contact-main {
    width: 100%;
    margin: 0;
  }
  .contact-input {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .contact-input h1 {
    width: 100%;
    font-size: 20px;
  }
  form {
   margin: 0;
  }
  .send {
    margin: 0;
  }
   .contact-input #name {
     width: 15rem;
     height: 2rem;
   }
   .contact-input #email {
     width: 15rem;
     height: 2rem;
   }
   .contact-input textarea {
     width: 15rem;
     height: 10rem;
   }
   .contact-information {
    display: none;
   }
   footer {
     height: 5rem;
   }
   .mountian-div {
     height: 23%;
   }
   footer section {
     margin-top: 20px;
   }
   .copy-richt a {
     display: none;
   }
   .copy-richt i {
     width: 100%;
     margin-left: 10px;
   } 
   main .projects {
     margin: auto;
     margin-top: 5rem;
   } 
   main .projects .project1, .project2, .project3 {
     height: 13rem;
     width: 23rem;
   }
 }